.gallery {
    text-align: center;
    margin: 10px 10px;
}
div {
    display: inline-block;
    padding: 10px;
}

.gallery img {
    transition: .7s;
    border: solid white;
    border-radius: 5%;
    width: 200px;
    filter: grayscale(90%);
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

body {
    background-image: url(../img/Background.png);
}