body {
    background-image: url(../img/Background.png);
    text-align: center;
    margin-top: 5%;
}

.profile {
    width: 20%;
    height: 20%;
    border: 5px solid white;
    border-radius: 5%;

}

h1 {
    color: white;
}